body{
    padding-top: 5vh;
    background-image: url(../img/background.jpg);
    background-size: cover;
}
.input-group{

    width: 100%;
    height: auto;
    left: 300px;
    
}
.container{
    
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    max-width: fit-content;
    max-height: fit-content;
    margin-top: 60px;
    text-align: center;
    border-radius: 20px; 

}
.row-d{
    margin: 20px;
    padding: 20px
}
.input-group{
    left: 1px;
}
.titulo{
    color: rgb(243, 243, 240)
}
.navbar{
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.btn{
    color: white;
  
}
.btn:hover{
    background-color: rgb(115, 255, 255);
}

.checkBox{
    
    background: white;
    
    }
.form-check-label{
    font-size: 13px;
    
} 
.obs{
    color: white
}

