body{
    padding-top: 5vh;
    background-image: url(../img/background.jpg);
    background-size: cover;
}
.text{
    text-align: justify;
    font-size: 25px;
}
.text-equipamentos{
    margin-top: 30px;
    font-size: 25px;
}

.form-control{
    margin: 10px;
    width: 1px;    
}
.img-fluid{
    width: 400px;
    height: 400px;
 }
.margin{
    padding: 30px;
}

.form-row{
    float:left;
    display: inline-block;  
}

.row-b{
    display: inline-block;
    margin: 30px;
}
.row-c{
    display: inline-block;
    margin-right: 40px;
    margin-top: 30px;
}

.container{
    
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    max-width: fit-content;
    max-height: fit-content;
    margin-top: 30px;   
    padding-bottom: 150px;

}
.row-d{
    float: right;
    display: inline;
    margin-top: 30px;

}

  
  