body{
    font-family: Georgia, serif; 
    background-color: white;
    padding-top: 5vh;
    background-size: cover;
    width: 100%;
}
.input-group{

    width: 100%;
    height: auto;
    left: 300px;
    
}
.container{
    
    background-color: rgba(69, 136, 166, 0.239);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    max-width: fit-content;
    max-height: fit-content;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    border-radius: 20px; 

}
.row-d{
    margin: 20px;
    padding: 20px
}
.input-group{
    left: 1px;
}
.titulo{
    color: black
}
.navbar{
    background-color: rgba(69, 136, 166, 0.239);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.navbar-brand{
    margin-left: 20px;
}
.btn{
    color: black
  
}
.btn:hover{
    background-color: rgb(115, 255, 255);
}

.checkBox{
    
    background: white;
    
    }
.form-check-label{
    font-size: 13px;
    
} 
.obs{
    color: white
}
#inpId{
    width: 65%;   
}
#btn{
    left: 60px;
}
.form-control{
    border-radius: 50
}

