body{
    padding-top: 5vh;
    background-image: url(../img/background.jpg);
    background-size: cover;
}

.container{
    
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    max-width: fit-content;
    max-height: fit-content;
    margin-top: 30px;
    text-align: center;
    border-radius: 20px;    
}
.row-d{
    margin: 20px;
    padding: 20px
}
.navbar{
    background: #0a090a;
}
.dropdown-item {
    color: rgb(2, 90, 2)
}
.btn {
    color: rgb(3, 78, 3)
}

  
  