body{
    padding-top: 5vh;
    background-image: url(../img/background.jpg);
    background-size: cover;
    text-align: center;
    color: rgb(0, 4, 255);
    

}
.container{
    padding-top: 50px;
    width: auto;
    height: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
    background-color: white;
    color: black;
  
}
