/*Geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: #323232;
    border:none;
}
input, label{
    display: block;
    width: 100%;
}
input:focus, label:focus{
    outline: none;
}
a{
    color: #041b9e;
}
body{
    padding-top: 5vh;
    background-image: url(../img/background.jpg);
    background-size: cover;
}
/*Formulario*/
#cadastroFunc-container{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
}
#cadastroFunc-container h1{
    text-align: center;
    margin-bottom: 20px;
}
form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.full-box{
    flex: 1 1 100%;
    position: relative;
}
.half-box{
    flex: 1 1 45%;
    position: relative;
}
.spacing{
    margin-right: 2.5%;
}
label{
    font-weight: bold;
    font-size: .8rem;
}
input{
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 40px;
}
input:focus{
    border-color: #0213ac;
}
input[type="submit"]{
    background-color:chocolate;
    color: blanchedalmond;
    border: none;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: black;
    transition: .5s;
}
button{
    background-color:chocolate;
    color: blanchedalmond;
    border: none;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 40px;
    width: 220px;
}
button:hover{
    background-color: black;
    transition: .5s;
}



#agreement{
    margin-right: 5px;
}
#agreement, #agreement-label{
    display: inline-block;
    width: auto;
}
/*Validações*/
.error-validation{
    color: #ff1a1a;
    position: absolute;
    top: 62px;
    font-size: .8rem;
    font-weight: bold;
}
.template{
    display: none;
}
