/*Geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
    color: black;
    border: none;
    }
    body{
        background-image: url(../img/wall.jpg);
        background-size: cover;      
    }
    textarea:focus, input:focus{
        outline: none;        
    }
    a, label{
        font-size: .8rem;
    }
    a:hover{
        color: blue;
    }
    /*Container Login*/

    #login-container{

        background-image: "/img/wall.jpg";
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 30px;
        margin-top: 10vh;
        border-radius: 10px;
        text-align: center;
    }
    form{
        margin-top: 30px;
        margin-bottom: 40px;        
    }
    .full-box{
        flex: 1 1 100%;
        position: relative;
    }
    .half-box{
        flex: 1 1 45%;
        position: relative;
    }
    label, input{
        display: block;
        width: 100%;
        text-align: left;  
    }
    label{
        font-weight: bold;
    }
    input{
        border-bottom: 2px solid black;
        padding: 10px;
        font-size: 1rem;
        margin-bottom: 20px;
    }
    input:focus{
        border-bottom: 2px solid #070bf1;
    }
    #forgot-pass{
        text-align: right;
        display: block;
    }
    input[type="submit"]{
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        border: none;
        height: 40px;
        border-radius: 20px;
        margin-top: 30px;
        color: blanchedalmond;
        background-color: chocolate;
        cursor: pointer;
    }
    input[type="submit"]:hover{
        background-color: black;
        transition: .5s;
    }
    
    /*Rede Sociais*/

    #social-container, #social-container p{
        margin-bottom: 20px;
    }

    #social-container i{
        height: 40px;
        width: 40px;
        border-radius: 50px;
        line-height: 40px;
        color: white;
        margin: 0 5px;
        cursor: pointer;
    }
    .fa-facebook{
        background-color: #3b5998;
    }
   .fa-linkedin{
       background-color: #007bb6;
   }
   .fa-twitter{
       background-color: #00aced;
   }
   /*Registrar*/
   #register-container p{
       margin-bottom: 10px;
   }
   /*Validações*/
.error-validation{
    color: #ff1a1a;
    position: absolute;
    top: 58px;
    font-size: .8rem;
    font-weight: bold;
}
.template{
    display: none;
}
body{
    font-family: Georgia, serif; 
    background-color: white;
    padding-top: 5vh;
    background-size: cover;
    width: 100%;
}