@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}

body{
    font-family: Georgia, serif; 
    background-image: url(../img/wall.jpg);
    padding-top: 5vh;
    background-size: cover;
    width: 100%;
}
.input-group{

    width: 100%;
    height: auto;
    left: 300px;
    
}
.container{
    
    background-color: rgba(99, 106, 109, 0.248);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    max-width: fit-content;
    max-height: fit-content;
    margin-top: 60px;
    text-align: center;
    border-radius: 20px; 

}
.welcome{
    margin-right: 50px;
}
.aNome{
    color:blue;
}
.row-d{
    margin: 20px;
    padding: 20px
}
.input-group{
    left: 1px;
}
.titulo{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.navbar-brand{
    margin-left: 20px;
    font-family: Georgia, serif;
}
.navbar{
    background-color: rgba(99, 106, 109, 0.248);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.btn{
}
.btn-cad{
    color: black;
}
.btn-att{
    color: black;
}
.btn:hover{
    background-color: rgb(93, 95, 95);
}
.lista{
    font-size: 12px;
    font-weight: bold;
}
.toplista{
    font-family: 'Open Sans', sans-serif;
    color:rgb(0, 0, 0);
    font-size: 18px;
    padding: 20px;
}
.bnt-custom{
    padding: 1px, 15px, 3px, 2px;
    border-radius: 50px;
}
.btn-icon{
    padding: 8px;
    background: white;
}
.pagination{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 1px;
   margin-bottom: 30px;
}

.pagination div{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    background-color: rgba(21, 0, 255, 0.304);
    color: rgb(0, 0, 0);
}
.pagination div:not(numbers),
.pagination div.numbers div{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}
.pagination div.numbers:hover{
    color: "rgb(0, 0, 0)";
}
.pagination .currentNumber{
    background-color: rgba(255, 0, 0, 0.519);
}
.pagination .numbers{
    display: none;
}
.fa-trash{
    color: red;
    font-size: 20px;
}
.fa-pen-to-square{
    color: rgb(6, 6, 249);
    font-size: 20px;
}
.fa-image{
    color: rgb(11, 165, 3);
    font-size: 20px;
}
.modal{
    display: none;
    background-color: rgba(0, 0, 0, 0.564);
    position: fixed;
    width: 66vw;
    height: 81vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.modal-content{
    margin: auto;
    margin-top: 15px;
    max-width: 900px;
    padding: auto;
}
.btn-fecha-modal{
    background-color: rgb(12, 87, 247);
    padding: 5px 10px 5px 10px;
    border: 2px solid rgba(0, 0, 0, 0.513);
    cursor: pointer;
    border-radius: 5px;
    color: white;
    margin-top: 15px;
}
.btn-fecha-modal:hover{
    background-color: rgb(0, 166, 255);
    color: black;
}
