<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static' , filename = 'bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static' , filename = 'css/styleVisualizar.css')}}">


    <title>Easylub</title>
</head>

<body onload="getArquivos()">
    <nav class="navbar fixed-top navbar-expand navbar-light">
        <a class="navbar-brand">
            <img class="logo" src="/static/img/engrenagem-verde.png" width="30px">
            <button class="btn btn-outline-success me-2" type="button" href="index.html">Easylub</button>
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <div class="dropdown show">
                        <a class="btn btn-secundary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Usuários
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/cadastrar_usuarios">Cadastrar usuários</a></li>
                            <li><a class="dropdown-item" href="/visualizar_usuarios">Listar usuários</a></li>
                            <li><a class="dropdown-item" href="/atualizar_usuarios">Atualizar Usuarios</a></li>
                            <li><a class="dropdown-item" href="/deletar_usuarios">Deletar Usuários</a></li>
                        </ul>
                    </div>
                </li>
              <li class="nav-item">
                    <div class="dropdown show">
                        <a class="btn btn-secundary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Máquinas
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/cadastrar_maquinas">Cadastrar Máquinas</a></li>
                            <li><a class="dropdown-item" href="/visualizar_maquinas">Visualizar Máquinas</a></li>
                            <li><a class="dropdown-item" href="/atualizar_maquinas">Atualizar Máquinas</a></li>
                            <li><a class="dropdown-item" href="/deletar_maquinas">Deletar Máquinas</a></li>

                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown show">
                        <a class="btn btn-secundary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Lubrificantes
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/cadastrar_lubrificantes">Cadastrar Lubrificantes</a>
                            </li>
                            <li><a class="dropdown-item" href="/visualizar_lubrificantes">Visualizar Lubrificantes</a>
                            </li>
                            <li><a class="dropdown-item" href="/atualizar_lubrificantes">Atualizar Lubrificantes</a>
                            </li>
                            <li><a class="dropdown-item" href="deletar_lubrificantes">Deletar Lubrificantes</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown show">
                        <a class="btn btn-secundary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Serviços
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/cadastrar_servico">Cadastrar Serviços</a></li>
                            <li><a class="dropdown-item" href="/visualizar_servico">Visualizar Serviços</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <section id="funcionarios">

            <div class="container-fluid agenda text-center margin">
                <br>
                <h1 class="titulo">Visualizar Usuários</h1>
                <br>
                <table class="table">
                    <thead>
                      <tr>                        
                        <th class="lista" scope="col">ID</th>
                        <th class="lista" scope="col">Nome</th>
                        <th class="lista" scope="col">Email</th> 
                        <th class="lista" scope="col">Senha</th>
                        <th class="lista" scope="col">Tipo</th>         
                      </tr>
                    </thead>
                    <div>
                        <tbody class="lista" id="tbody"></tbody>   
                    </div>
                </table>
        </section>
    </div>
 
</body>
<footer class="text-center">   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='JScript/scriptListaUsuarios.js')}}"></script>
</footer>

</html>